@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1024px){
.backgroundImage {
  background-image: linear-gradient(#FFF0DD, #FDE1DF);
  /* height: 100vh; */
}
}
.cardBackground {
  background-image: url('../src/images/background-desktop.png');
  /* height: 100px; */
}


.flipButton {
  position: relative;
  left: 0px;
  top: 470px;
  right: 255px;
  z-index: 50;

}



.position-relative {
	position: relative !important;
  }

.position-absolute {
	position: absolute !important;
  }

.image-container {
  bottom: -20px;
}

.logo-container {
  right: -10px;
  bottom: -10px;
}

.hover:hover{
  background-color: #FBEAD8;
}

@media only screen and (max-width: 500px) {
  .image-container {
    right: -50px;
    bottom: -20px
  }
}

@media only screen and (max-width: 600px) {
  .cardBackground {
    background-image: url('../src/images/background-mobile.png');
    /* height: 100vh; */
  }
  .image-container {
    left: -700px;
  }
}

@media only screen and (min-width: 500px) {
  .image-container {
    right: -20px;
  }
}

@media only screen and (min-width: 1300px) {
  .image-container {
    right: -20px;
  }
}

/* floral logo media queries */
@media only screen and (max-width: 600px) {
  .logo-container {
    right: -20px;
    top: 70px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
  .logo-container {
    right: 0px;
    left: 70px;
    top: 70px;
  }
}

@media screen and (max-width: 1279px) and (min-width: 1024px){
  .logo-container {
    right: 0px;
    left: 40px;
    top: 50px;
  }
}

@media screen and (max-width: 1800px) and (min-width: 1280px){
  .logo-container {
    right: 0px;
    left: 60px;
    top: 50px;
  }
}