body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* Desktop styles */
@media only screen and (min-width: 768px) {
  body {
    background-image: url("../src/images/background-desktop.png");
    /* Add other desktop-specific styles if needed */
  }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  body {
    background-image: url("../src/images/background-mobile.png");
    /* Add other mobile-specific styles if needed */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
